html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
  }
  #mainHeader {
      width: 100%;
      height: 120px;
      background-color:#fcde67;
      display: flex;
      justify-content: space-evenly;
  }
  .logo a {
    display:none;
    text-decoration: none;
  }
  .top-nav {
      height: 80px;
      width: 100%;
      border-radius: 15px;
      background-color:#5bccf6;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .logo h1 {
      margin: 24px;
      padding: 40px;    
  } 
  .navbar li {
      font-size: 18px;  
      cursor: pointer;
      padding: 20px;
      margin-right: 60px;
      color: #030e12;
    }
  .navbar .icon {
      display: none;
    }
  
  .navbar {
      list-style: none;
      display: flex;
      padding: 15px;
    }
  .dropdown {
      font-size: 15px;    
      border: none;
      display: inline;
      background-color: inherit;
      font-family: inherit;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 2;
      background-color:#5bccf6;
      min-width: 50px;
      padding: 10px;
      margin: 10px;
    }
  
    .dropdown-content a {
      color: black;
      padding: 12px;
      text-decoration: none;
      display: block;
      text-align: left;
      float: none;
    }
  
    .navbar a:hover, .dropdown:hover li {
      background-color: #fcde67;
    }
  
    .dropdown-content a:hover {
      background-color: #fcde67;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content h4 {
      font-weight: bold;
      font-size: 16px;
    }
     hr {
      background-color:#030e12;
      height: 10px;
      margin: 0 auto;
      border: none;
    }
    @media screen and (max-width:600px) {
        .top-nav .logo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          height: 80px;
        }
        .top-nav {
          display: block;
          margin: 0;
          margin-top: 20px;
        }
        .top-nav .navbar {
          display:none;
          background-color: #fcde67;
          margin-top:0;
        border-bottom: 1px solid black;
        }
        .top-nav .navbar.responsive{
          display: block;
        }
        .top-nav .navbar li {
          padding: 10px 20px;
          margin-right: 0;
          color: black;
        }
        .logo h1 {
          font-size: 20px;
          padding: 10px 20px;
          margin:0;
        }
        .top-nav {
            position: fixed;
            z-index: 3;
          }
          #menu-4-button{
            display: none;
          }
          #menu-5-button{
            display: none;
          }
          .navbar .icon {
            float: right;
            display: block;
          }
          .logo a{
            display: block;
          }
    }
    h1{
        text-align: center;
        margin:0;
    }
    .form{
        width: 900px;
        height: auto;
        background-color: #fcde67;
        margin:auto;
        border-radius: 15px;
        padding: 20px;
        font-weight: bold;
    } 
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=email], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=number], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=date], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=time], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=submit] {
      width: 100%;
      background-color: #5bccf6;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size:16px;
    }
    input[type=submit]:hover {
      background-color: black;
    }
    .bookYourAssessment {
      background-color: #5bccf6;
      height: 1200px;
    }
    .err {
      color:red;
    }
    @media (max-width: 600px) {
        .form {
          width: 50%;
        }
        .form textarea {
          width: 50%;
        }
      }
      footer {
        height: 100px;
        width: 100%;
        background-color: #030e12;
        padding-top: 5px;
        color: #030e12;
      }
      .footer-links ul {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 10px;
        list-style-type: none;
      }
      .footer-links li a { 
        color: white;
        text-decoration: none;
      }
      small {
       padding: 10px;
       color: white;
       margin: auto;
      }
    
      @media screen and (max-width:600px) {
        footer{
          height: auto;
        }
        .footer-links ul {
          display: inline-block;
        }
      }
